body {
    font-family: Helvetica, sans-serif;

}

main {
    text-align: center;
    display: flex;
    justify-content: center;
}

div.start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* height: 100vh; */
}

button {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: white;
    background-color: darkslateblue;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.left-align {
    text-align: left;

}

.right-align {
    text-align: right;
}

.card {
    background-color: #fff;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 2%;
    margin-top: 80px;
    padding: 20px;
    width: 46%;
    overflow: hidden;
    position: relative;
    float: left;
  }

/* hide and show class for elements such as questions, start button, final score, enter initals, submit button */
.hide {
    display: none;
}